<!DOCTYPE html>
    <body>
        <p>{{.h1}}</p>
        <p>{{.h2}}</p>
        <p>{{.h3}}</p>

        <p>{{.hobby.h1}}</p>
        <p>{{.hobby.h2}}</p>
        <p>{{.person.Name}}</p>
        <p>{{.person.Age}}</p>
    </body>
</html>